# ===========================
# Compiled Executables
# ===========================

*.exe
*.out
*.o
*.obj

# ===========================
# Debug Files
# ===========================

*.pdb
*.ilk

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# Temporary Files
# ===========================

*.log
*.tmp